{
    "printWidth": 120,
    "singleQuote": true,
    "overrides": [
        {
            "files": "index.ts",
            "options": {
                "printWidth": 200
            }
        }
    ]
}
